  <% if user_signed_in? %>
  <h1>Welcome, <%=current_user.name%>!</h1>
    <h3><%= link_to "View Your Profile", user_path(current_user) %></h3>
  <% else %>
    <h1>Welcome to Blog Site!</h1>
    <h3> Please Sign In or Create an Account to Continue to the Site</h3>
    <h4><%= link_to("Sign In", new_user_session_path) %> - 
    <%= link_to("Sign Up", new_user_registration_path) %></h4>
  <% end %>
  




