<% if user_signed_in? %>
  <h1>Welcome <%= current_user.name %> to Blog Rails Final Project</h1> 
<% end %>

<p>Site Created By: <strong>Brigan Enser</strong></p>

<%= link_to "New Post", new_post_path %>
<%= link_to "View Posts", posts_path %> 
