<h1>Create New Blog Post</h1>

<%= form_for(@post, method: :post) do |f| %>

<%= f.label "Category:" %><br>
<%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name) %> <br>

<br><%= render partial: 'form', locals: {post: @post} %>




<% end %>

